<mat-card>
    <mat-card-content>
        <!--
        <ul>
            <ng-container *ngFor="let user of users">
                <li *ngIf="user.role=='admin'">
                    {{user.login}}
                </li>
            </ng-container>
            
        </ul>
        -->
        <mat-list>
            <ng-container *ngFor="let user of users">
                <h3 mat-subheader>Users</h3>
                <mat-list-item >
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h4 mat-line>{{user.login}}</h4>
                    <h4 mat-line>{{user.role}}</h4>
                    <h4 mat-line>{{user.lastlogin | date}}</h4>
                    <button mat-stroked-button color="warn">Save</button>
    
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
           
        </mat-list>
       
    </mat-card-content>
</mat-card>