<mat-card>
    <mat-card-title>
        Select
    </mat-card-title>

    <mat-card-content>
       <section>
           <p>Selecione os campos que voce precisa:</p>
           <mat-radio-group [(ngModel)] = "fieldname">
               <mat-radio-button value="button">Button</mat-radio-button>
               <mat-radio-button value="checkbox">CheckBox</mat-radio-button>
               <mat-radio-button value="progressbar">Progress Bar</mat-radio-button>
               

           </mat-radio-group>
       </section>

       <br><br>

       <section [ngSwitch]="fieldname">
           <button *ngSwitchCase="'button'" mat-raised-button color="warn">botao</button>
           <mat-checkbox *ngSwitchCase="'checkbox'">Checkbox</mat-checkbox>
           <mat-progress-bar *ngSwitchCase="'progressbar'" color="warn" mode="indeterminate">Progress Bar</mat-progress-bar>


       </section>
    </mat-card-content>
</mat-card>